input:focus, button:focus {
  outline: none; }

.content {
  width: 300px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -100px;
  text-align: center; }

#search, #btn-search {
  height: 30px;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid #cccccc;
  padding: 0 5px; }

#btn-search {
  color: white;
  background: grey; }
